// proprieta per definire tutti gli h1
@mixin h1-rules{
  font-size: 30px;
  font-weight: bolder;
  color: black;
}

// creo proprieta per elementi che utilizzeranno tutti flex-box
@mixin display-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

// creo ciclo for per classi cambio size in lista navbar
@for $i from 1 through 3 {
  .font-size-#{$i * 10px} {
    font-size: 10px * $i;
  }
}
